.footer{
    .footer-content{
        display: flex;
        flex-wrap: wrap;
        color: #a9a9a9;
        font-size: 14px;
        .footer-content-left, .footer-content-right{
            width: calc(100% /2 );
        }
        .footer-content-left{
            text-align: left;
            ul{
                margin: 0;
                padding: 0;
                display: flex;
                li{
                    list-style: none;
                    padding-right: 30px;
                    position: relative;
                    &:nth-child(1){
                        &::before{
                            display: none;
                        }
                    }
                    &::before{
                        content: '';
                        width: 1px;
                        height: 15px;
                        position: absolute;
                        background-color: #a9a9a9;
                        left: -15px;
                        top: 2px;
                    }
                }
            }
            .footer-content-one{
                color: #333333;
                margin-bottom: 10px;
                li{
                    &::before{
                        display: none;
                    }
                }
            }
        }
        .footer-content-right{
            display: flex;
            align-items: flex-start;
            justify-content: flex-end;
        }
    }
}
@media screen and (max-width: 767px) {
    .footer{
        .footer-content{
            .footer-content-left, .footer-content-right{
                width: 100%;
            }
            .footer-content-left{
                text-align: center;
                ul{
                    display: block !important;
                    li{
                        &::before{
                            display: none;
                        }
                    }
                }
            }
            .footer-content-right{
                display: flex;
                align-items: flex-start;
                justify-content: center;
            }
        }
    }
}