.easy-quick{
    background-color: #157eff;
    color: white;
    padding: 40px 0;
    .easy-quick-content{
        display: flex;
        .easy-quick-left{
            width: 300px;
        }
    }
}